body 
{ font-family: Arial,sans-serif; 
 margin: 0; 
 padding: 0; 
}
input, textarea, select, button 
{ 
  display:block;
  margin:8px 0; 
  padding:8px;
  width: 100%; 
  max-width: 640px; 
}
button 
{ 
  cursor: pointer; 
}
header a
{
  text-decoration: none; 
  color: inherit; 
}
